body {
  font-family: $base-font;
  margin: 0;
}

.red {
  background: $red;
}
.blue {
  background: $blue;
}
.yellow {
  background: $yellow;
}
.white {
  background: $white;
}

.bordered {
  border: 3px solid black;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: aliceblue;
}