body {
  font-family: $base-font;
}

.red {
  background: $red;
}
.blue {
  background: $blue;
}
.yellow {
  background: $yellow;
}
.white {
  background: $white;
}

.bordered {
  border: 3px solid black;
}
