---
title: Middleman Template
---

<div class="square">
  <div class="item1 white bordered"></div>
  <div class="item2 red bordered"></div>
  <div class="item3 white bordered"></div>
  <div class="item4 blue bordered"></div>
  <div class="item5 white bordered"></div>
  <div class="item6 white bordered"></div>
  <div class="item8 yellow bordered"></div>
</div>